 
torc 
torchaudio 
 

 
runpod

# PyTorch will already be available via CUDA image
numpy

# Audio
soundfile
librosa

# Networking
requests
python-dotenv

# HuggingFace (required by Chatterbox)
huggingface_hub

# 🔥 Chatterbox (OFFICIAL REPO)
git+https://github.com/resemble-ai/chatterbox.git
